<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Music Kids</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .carousel img {
            transition: opacity 1s;
        }
        .text-fade-out {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
        .error-message {
            width: auto; 
            background-color: #FEB2B2; 
            color: #C53030; 
            border-radius: 0.25rem; 
            font-size: 0.875rem; 
        }
    </style>
</head>
<body class="bg-blue-100 flex items-center justify-center h-screen">
    <div class="w-full max-w-5xl bg-white p-8 rounded-lg shadow-lg flex">
        <div class="w-1/2 p-8">
            <div class="relative bottom-2">
                <h1 class="text-4xl text-orange-500 font-bold mb-8 text-center">Iniciar Sesión</h1>
            </div>
            <form class="relative bottom-4" action="/login" method="post">
                <div class="mb-6">
                    <label for="nombre" class="block text-gray-700 font-bold mb-2">Usuario:</label>
                    <input type="text" id="nombre" name="nombre" class="w-full p-3 border border-gray-300 rounded-lg" required>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 font-bold mb-2">Contraseña:</label>
                    <input type="password" id="password" name="password" class="w-full p-3 border border-gray-300 rounded-lg" required>
                </div>
                <div class="flex items-center justify-between mb-6">
                    <button type="submit" class="bg-yellow-300 text-white font-bold py-3 px-6 rounded-full hover:bg-orange-600 transition duration-300">
                        Iniciar Sesión
                    </button>
                    <a href="/register" class="text-blue-500 hover:underline">Crear cuenta</a>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="relative w-auto " id="error-container">
                            {% for category, message in messages %}
                                {% if category == 'error' %}
                                    <div class="error-message bg-red-200 text-red-700 p-2 rounded-lg absolute">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </form>
        </div>
        <div class="w-1/2 p-8 carousel relative overflow-hidden rounded-lg border border-gray-300">
            <img src="/static/imagenes/login1.jpg" alt="Imagen 1" class="absolute inset-0 w-full h-full object-cover opacity-100">
            <img src="/static/imagenes/login2.jpg" alt="Imagen 2" class="absolute inset-0 w-full h-full object-cover opacity-0">
            <img src="/static/imagenes/login3.jpg" alt="Imagen 3" class="absolute inset-0 w-full h-full object-cover opacity-0">
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const errorContainer = document.getElementById('error-container');

            if (errorContainer) {
                setTimeout(() => {
                    errorContainer.classList.add('text-fade-out');
                }, 2500); // Añadir la clase después de 2 segundos

                setTimeout(() => {
                    errorContainer.remove();
                }, 3500); // Elimina el elemento del DOM después de 2.5 segundos
            }

            let index = 0;
            const images = document.querySelectorAll('.carousel img');
            setInterval(() => {
                images[index].classList.remove('opacity-100');
                images[index].classList.add('opacity-0');
                index = (index + 1) % images.length;
                images[index].classList.remove('opacity-0');
                images[index].classList.add('opacity-100');
            }, 3000);
        });
    </script>
</body>
</html>
