<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Canciones - Music Kids</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .estrellita{
            height: 50px;
        }
    </style>
</head>
<body class="bg-blue-100 text-center">
    <header class="bg-white shadow-md p-4 flex items-center justify-between fixed z-10 w-full">
        <div class="flex items-center">
            <img src="/static/imagenes/logo.jpeg" alt="Logo" class="h-12 w-12 mr-4 rounded-full">
            <h1 class="text-3xl text-orange-500 font-bold">Music Kids</h1>
            <a href="/user_home" class="ml-10 mr-2">
                <img src="/static/imagenes/inicio.png" class="h-12 w-12" alt="">
            </a>
            <a href="" class="mx-2">
                <img src="/static/imagenes/icono_tutorial.png" class="h-12 w-10" alt="">
            </a>
            <a href="/teoria" class="mx-2">
                <img src="/static/imagenes/icono_teoria.png" class="h-12 w-16" alt="">
            </a>
            <a href="/piano" class="mx-2">
                <img src="/static/imagenes/icono_piano.png" class="h-12 w-16" alt="">
            </a>
            <a href="/lista_canciones" class="mx-2">
                <img src="/static/imagenes/icono_lista.png" class="h-12 w-10" alt="">
            </a>
        </div>
        <img src="/static/imagenes/{{ imagen_barra }}" class="estrellita" alt="Barra de Progreso">
        <div class="flex items-center">
            <div class="text-blue-500 font-bold text-lg mx-4">
                <h2>{{ g.nombre }}</h2>
            </div>
            <div class="bg-yellow-300 p-1 py-2 px-4 rounded-full mx-4">
                {% if user_logged_in %}
                    <a href="/logout" class="text-white font-bold hover:bg-orange-600 transition duration-300 block text-center">
                        Cerrar Sesión
                    </a>
                {% endif %}
            </div>
            <a href="soporte.html">
                <img src="/static/imagenes/ayuda.jpeg" alt="Ayuda" class="h-10 w-10 rounded-full">
            </a>
        </div>
    </header>
    <section class="pt-20">
        <h2 class="text-2xl font-bold mb-4 mt-4">Lista de Canciones</h2>
        <div class="container mx-auto px-4">
            {% for cancion in canciones %}
            <div class="bg-white p-4 rounded-lg shadow-md mb-4 relative {% if not cancion.desbloqueada %}opacity-50{% endif %}">
                <h3 class="text-xl font-bold p-1 bg-yellow-300 rounded-xl">{{ cancion['dificultad'] }}</h3>
                <ul class="flex items-center mt-4">
                    {% if cancion.desbloqueada %}
                    <a href="{{ url_for('cancion_facil', cancion_id=cancion['id_cancion']) }}" class="iniciar-cancion" data-id="{{ cancion['id_cancion'] }}" data-notas="{{ cancion['notas'] }}" data-nombre="{{ cancion['nombre_cancion'] }}">
                        <img src="/static/imagenes/play.png" class="w-12" alt="">
                    </a>
                    {% else %}
                    <img src="/static/imagenes/candado.png" class="w-12" alt="Bloqueado">
                    {% endif %}
                    <img src="{{ cancion['foto'] }}" alt="" class="w-24 mx-4">
                    <li class="flex items-center flex-grow">
                        {% if cancion.desbloqueada %}
                        <a href="{{ url_for('cancion_facil', cancion_id=cancion['id_cancion']) }}" class="text-blue-500 hover:underline text-xl font-bold">{{ cancion['nombre_cancion'] }}</a>
                        {% else %}
                        <span class="text-gray-500 text-xl font-bold">{{ cancion['nombre_cancion'] }}</span>
                        {% endif %}
                    </li>
                    <!-- Mostrar el puntaje máximo en la esquina derecha -->
                    <div class="absolute right-4 top-4 bg-yellow-300 p-2 rounded-lg">
                        <span class="text-lg font-semibold">Puntaje: {{ cancion['puntaje_maximo'] }}</span>
                    </div>
                </ul>
            </div>
            {% endfor %}


    </section>
    
    <script>
        document.querySelectorAll('.iniciar-cancion').forEach(button => {
            button.addEventListener('click', (event) => {
                event.preventDefault();
                const notas = button.getAttribute('data-notas');
                const id = button.getAttribute('data-id');
                const nombre = button.getAttribute('data-nombre');
                localStorage.setItem('notasCancion', JSON.stringify(notas.split(',')));
                localStorage.setItem('cancionId', id);
                localStorage.setItem('nombreCancion', nombre);
                window.location.href = button.getAttribute('href');
            });
        });
        document.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('reload')) {
                window.location.href = window.location.pathname; // Recarga la página sin parámetros
            }
        });
    </script>
</body>
</html>
